# Second Assignment for the CE889 - Neural Networks course

## Group #18

### Team members:

Sudeep Sawant

Francisco SÃ¡nchez

James Scoon

### The first step of the assignment was to import the necessary libraries:

In [1]:
import numpy as np
import pandas as pd
import math
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
import keras
from keras.models import Sequential
from keras.layers import Conv2D, MaxPooling2D, Flatten, Dense
from keras.callbacks import EarlyStopping

Using TensorFlow backend.

### Then the data files are read and preprocessed

The train_complete and test_complete files are created in the Generate Missing Rows notebook, because not all days had the correct amount of rows, which would cause problems feeding into the Convolutional Neural Network

In [2]:
stores = pd.read_csv("store.csv")
stores.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

In [3]:
training = pd.read_csv("train_complete.csv")
training.head()

/home/james/miniconda3/envs/ce802/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

In [4]:
testing = pd.read_csv("test_complete.csv")
testing.head()

   Id  Store  DayOfWeek        Date  Open  Promo StateHoliday  SchoolHoliday
0   1      1          4  2015-09-17   1.0      1            0              0
1   0      2          4  2015-09-17   0.0      0            0              0
2   2      3          4  2015-09-17   1.0      1            0              0
3   0      4          4  2015-09-17   0.0      0            0              0
4   0      5          4  2015-09-17   0.0      0            0              0

#### The dates are then separated into months and years

In [5]:
training['Year'] = training['Date'].apply(lambda x: int(str(x)[:4]))
training['Month'] = training['Date'].apply(lambda x: int(str(x)[5:7]))

testing['Year'] = testing['Date'].apply(lambda x: int(str(x)[:4]))
testing['Month'] = testing['Date'].apply(lambda x: int(str(x)[5:7]))

#### The date and ID columns are dropped because we now have the years and months

In [6]:
training.drop(["Date"],axis = 1, inplace = True)
testing.drop(["Date"],axis = 1, inplace = True)
#testing.drop(["Id"],axis = 1, inplace = True)

#### StateHoliday has values 0 & "0", So, all 0 values are converted to "0"

In [7]:
training["StateHoliday"] = training["StateHoliday"].replace(0, "0")
testing["StateHoliday"] = testing["StateHoliday"].replace(0, "0")

#### The stores are integrated into the training set

In [8]:
training_store = pd.merge(training, stores, how = 'left', on = 'Store')
training_store.drop(["Store"], axis = 1, inplace = True)
training_store.head()

,DayOfWeek,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Year,Month,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,5,5263,555,1,1,0,1,2015,7,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,5,6064,625,1,1,0,1,2015,7,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,5,8314,821,1,1,0,1,2015,7,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,5,13995,1498,1,1,0,1,2015,7,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,4822,559,1,1,0,1,2015,7,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

#### The data for the stores is merged with the testing data as well

In [9]:
testing_store = pd.merge(testing, stores, how = 'left', on = 'Store')
testing_store.drop(["Store"], axis = 1, inplace = True)
testing_store.head()

,Id,DayOfWeek,Open,Promo,StateHoliday,SchoolHoliday,Year,Month,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,4,1.0,1,0,0,2015,9,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,0,4,0.0,0,0,0,2015,9,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,2,4,1.0,1,0,0,2015,9,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,0,4,0.0,0,0,0,2015,9,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,0,4,0.0,0,0,0,2015,9,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

### Below, we can see that there are some columns with missing data

This can cause problems later on, so we impute them with the median value

In [10]:
training_store.isnull().sum()

DayOfWeek                         0
Sales                             0
Customers                         0
Open                              0
Promo                             0
StateHoliday                      0
SchoolHoliday                     0
Year                              0
Month                             0
StoreType                         0
Assortment                        0
CompetitionDistance            2826
CompetitionOpenSinceMonth    333468
CompetitionOpenSinceYear     333468
Promo2                            0
Promo2SinceWeek              512448
Promo2SinceYear              512448
PromoInterval                512448
dtype: int64

#### We impute the missing values with the median of their respective columns and drop the column PromoInterval as it has little relation to the sales

In [11]:
median_sales = training_store['Sales'].astype('float').median(axis = 0)
#training_store['Sales'].replace(np.nan, median_sales, inplace = True)

median_customers = training_store['Customers'].astype('float').median(axis = 0)
#training_store['Customers'].replace(np.nan, median_customers, inplace = True)

median_comp_dist = training_store['CompetitionDistance'].astype('float').median(axis = 0)
training_store['CompetitionDistance'].replace(np.nan, math.floor(median_comp_dist), inplace = True)

median_comp_month = training_store['CompetitionOpenSinceMonth'].astype('float').median(axis = 0)
training_store['CompetitionOpenSinceMonth'].replace(np.nan, math.floor(median_comp_month), inplace = True)

median_comp_year = training_store['CompetitionOpenSinceYear'].astype('float').median(axis = 0)
training_store['CompetitionOpenSinceYear'].replace(np.nan, math.floor(median_comp_year), inplace = True)

median_promo2_week = training_store['Promo2SinceWeek'].astype('float').median(axis = 0)
training_store['Promo2SinceWeek'].replace(np.nan, math.floor(median_promo2_week), inplace = True)

median_promo2_year = training_store['Promo2SinceYear'].astype('float').median(axis = 0)
training_store['Promo2SinceYear'].replace(np.nan, math.floor(median_promo2_year), inplace = True)

training_store.drop(['PromoInterval'], axis = 1, inplace = True)

#### The missing data is also imputed in the test set

In [12]:
median_comp_dist = testing_store['CompetitionDistance'].astype('float').median(axis = 0)
testing_store['CompetitionDistance'].replace(np.nan, math.floor(median_comp_dist), inplace = True)

median_comp_month = testing_store['CompetitionOpenSinceMonth'].astype('float').median(axis = 0)
testing_store['CompetitionOpenSinceMonth'].replace(np.nan, math.floor(median_comp_month), inplace = True)

median_comp_year = testing_store['CompetitionOpenSinceYear'].astype('float').median(axis = 0)
testing_store['CompetitionOpenSinceYear'].replace(np.nan, math.floor(median_comp_year), inplace = True)

median_promo2_week = testing_store['Promo2SinceWeek'].astype('float').median(axis = 0)
testing_store['Promo2SinceWeek'].replace(np.nan, math.floor(median_promo2_week), inplace = True)

median_promo2_year = testing_store['Promo2SinceYear'].astype('float').median(axis = 0)
testing_store['Promo2SinceYear'].replace(np.nan, math.floor(median_promo2_year), inplace = True)

median_open = testing_store['Open'].astype('float').median(axis = 0)
testing_store['Open'].replace(np.nan, math.floor(median_open), inplace = True)

testing_store.drop(['PromoInterval'], axis = 1, inplace = True)

### Below we can see that all the missing data has been successfully imputed

In [13]:
training_store.isnull().sum()

DayOfWeek                    0
Sales                        0
Customers                    0
Open                         0
Promo                        0
StateHoliday                 0
SchoolHoliday                0
Year                         0
Month                        0
StoreType                    0
Assortment                   0
CompetitionDistance          0
CompetitionOpenSinceMonth    0
CompetitionOpenSinceYear     0
Promo2                       0
Promo2SinceWeek              0
Promo2SinceYear              0
dtype: int64

In [14]:
testing_store.isnull().sum()

Id                           0
DayOfWeek                    0
Open                         0
Promo                        0
StateHoliday                 0
SchoolHoliday                0
Year                         0
Month                        0
StoreType                    0
Assortment                   0
CompetitionDistance          0
CompetitionOpenSinceMonth    0
CompetitionOpenSinceYear     0
Promo2                       0
Promo2SinceWeek              0
Promo2SinceYear              0
dtype: int64

### Dummy variables are used to one-hot encode several columns

Mainly DayOfWeek, StoreType and StateHoliday, because numerical values should only be used for comparable variables. It does not make sense, for example, to say that Tuesday is more important than Wednesday.

In [15]:
training_day_dummies = pd.get_dummies(training_store['DayOfWeek'], prefix='Day')
testing_day_dummies = pd.get_dummies(testing_store['DayOfWeek'], prefix='Day')

training_storetype_dummies = pd.get_dummies(training_store['StoreType'], prefix='StoreType')
testing_storetype_dummies = pd.get_dummies(testing_store['StoreType'], prefix='StoreType')

training_stateholiday_dummies = pd.get_dummies(training_store['StateHoliday'], prefix='StateHoliday')
testing_stateholiday_dummies = pd.get_dummies(testing_store['StateHoliday'], prefix='StateHoliday')

training_store = training_store.join(training_day_dummies)
training_store = training_store.join(training_storetype_dummies)
training_store = training_store.join(training_stateholiday_dummies)
testing_store = testing_store.join(testing_day_dummies)
testing_store = testing_store.join(testing_storetype_dummies)
testing_store = testing_store.join(testing_stateholiday_dummies)

In [16]:
training_store.drop(['DayOfWeek'], axis = 1, inplace = True)
training_store.drop(['StoreType'], axis = 1, inplace = True)
training_store.drop(['StateHoliday'], axis = 1, inplace = True)
testing_store.drop(['DayOfWeek'], axis = 1, inplace = True)
testing_store.drop(['StoreType'], axis = 1, inplace = True)
testing_store.drop(['StateHoliday'], axis = 1, inplace = True)
testing_store['StateHoliday_b'] = 0
testing_store['StateHoliday_c'] = 0

#### Here we calculate the sales per customer, and note that an average of 9.49 dollars is earned from a customer at a particular store

In [17]:
# Adding new variable
Sales_per_customer = training_store['Sales'] / training_store['Customers']
Sales_per_customer.describe()

count    844340.000000
mean          9.493619
std           2.197494
min           0.000000
25%           7.895563
50%           9.250000
75%          10.899729
max          64.957854
dtype: float64

#### Next, the assortment values are converted into numerical values

This is because basic, extra and extended imply that the variable has increasing levels of importance

In [18]:
cleanup_Assortment = {"Assortment": {"a": 0, "b": 1, "c": 2}}
training_store.replace(cleanup_Assortment, inplace = True)
testing_store.replace(cleanup_Assortment, inplace = True)

#### One can observe below that all the values are now numerical, so they can be normalized and sent to the network

In [19]:
training_store.dtypes

Sales                          int64
Customers                      int64
Open                           int64
Promo                          int64
SchoolHoliday                  int64
Year                           int64
Month                          int64
Assortment                     int64
CompetitionDistance          float64
CompetitionOpenSinceMonth    float64
CompetitionOpenSinceYear     float64
Promo2                         int64
Promo2SinceWeek              float64
Promo2SinceYear              float64
Day_1                          uint8
Day_2                          uint8
Day_3                          uint8
Day_4                          uint8
Day_5                          uint8
Day_6                          uint8
Day_7                          uint8
StoreType_a                    uint8
StoreType_b                    uint8
StoreType_c                    uint8
StoreType_d                    uint8
StateHoliday_0                 uint8
StateHoliday_a                 uint8
StateHoliday_b                 uint8
StateHoliday_c                 uint8
dtype: object

In [20]:
testing_store.dtypes

Id                             int64
Open                         float64
Promo                          int64
SchoolHoliday                  int64
Year                           int64
Month                          int64
Assortment                     int64
CompetitionDistance          float64
CompetitionOpenSinceMonth    float64
CompetitionOpenSinceYear     float64
Promo2                         int64
Promo2SinceWeek              float64
Promo2SinceYear              float64
Day_1                          uint8
Day_2                          uint8
Day_3                          uint8
Day_4                          uint8
Day_5                          uint8
Day_6                          uint8
Day_7                          uint8
StoreType_a                    uint8
StoreType_b                    uint8
StoreType_c                    uint8
StoreType_d                    uint8
StateHoliday_0                 uint8
StateHoliday_a                 uint8
StateHoliday_b                 int64
StateHoliday_c                 int64
dtype: object

### Here, the training data is split into input and output variables using numpy:

In [21]:
X = training_store.drop(columns=["Sales", "Customers"]).to_numpy()
y = training_store['Sales'].to_numpy()
X_test = testing_store.drop(columns=["Id"]).to_numpy()

#### The input values are then normalised

We tried normalising the output, but we noted that it had a worse effect on the learning of the network than leaving the data alone. We believe this is because there are a lot of columns with zeroes, and by normalising it is easier for the network to predict only zeroes.

In [22]:
inputScaler = MinMaxScaler()
inputScaler.fit(X)
X = inputScaler.transform(X)
X_test = inputScaler.transform(X_test)
#y = y.reshape(-1, 1)
#outputScaler = MinMaxScaler()
#outputScaler.fit(y)
#y = outputScaler.transform(y)

### To make the data fit the CNN, we reshape it into multiple dimensions

The training data is separated into 942 tables, each one corresponding to one consecutive day of the year. These tables have 1115 rows (one for each store) with 27 columns of features.

The idea is that the CNN uses a filter to compare similar stores over different days to predict the sales.

The test data is only split into 48 days of tables.

In [23]:
X = np.reshape(X, (942, 1115, 27))
y = np.reshape(y, (942, 1115))
X_test = np.reshape(X_test, (48, 1115, 27))
X = np.expand_dims(X, axis = 3)
X_test = np.expand_dims(X_test, axis = 3)

Here, we can see the shape of the data is consistent with what we want

In [24]:
print("X:\t", X.shape)
print("y:\t", y.shape)
print("X_test:\t", X_test.shape)

X:	 (942, 1115, 27, 1)
y:	 (942, 1115)
X_test:	 (48, 1115, 27, 1)

### Finally, the data can be split into training and validation sets

The data is split into 75% training data and 25% validation data

In [25]:
X_train, X_validation, y_train, y_validation = train_test_split(X, y, test_size=0.25, random_state = 42, shuffle=True)

### The Neural Network is constructed in the following lines

We are using a deep convolutional neural network with a convolutional layer that contains 30 10x10 filters, which feeds into another convolutional layer with 25 4x4 filters. This layer is then sent into a 2x2 pooling layer. The result is then flattened and output into a set of 1115 output neurons (one for each store).

In [26]:
model = Sequential()

model.add(Conv2D(30, 10, input_shape = (1115, 27, 1)))
model.add(Conv2D(25, 4, input_shape = (1115, 27, 1)))
model.add(MaxPooling2D(pool_size = 2))
model.add(Flatten())
model.add(Dense(1115, activation='relu'))

#### Here, we use the Adam optimizer with a learning rate of 0.005 and a decay of 10^-6

We also use mean square error as the loss function

In [27]:
opt = keras.optimizers.Adam(lr=0.005, decay=1e-6)

model.compile(
    loss='mse',
    optimizer=opt,
    metrics=['accuracy'],
)

### We can finally train the network

The network is trained for 20 epochs with a batch size of 10. An early stopping criterion is used to stop the network if no progress is made. This criterion also returns the best set of weights that it found while training the network.

In [28]:
model.fit(X_train, y_train, epochs = 20, batch_size = 10, validation_data = (X_validation, y_validation), callbacks = [
    EarlyStopping(monitor = 'val_loss', min_delta = 1e-3, patience = 3, verbose = 1, mode = 'auto', restore_best_weights = True)
])

Train on 706 samples, validate on 236 samples
Epoch 1/20
706/706 [==============================] - 133s 189ms/step - loss: 22394384.1841 - accuracy: 0.1742 - val_loss: 18719110.1525 - val_accuracy: 0.4661
Epoch 2/20
706/706 [==============================] - 132s 187ms/step - loss: 15064798.8244 - accuracy: 0.4490 - val_loss: 13134284.4661 - val_accuracy: 0.2076
Epoch 3/20
706/706 [==============================] - 128s 181ms/step - loss: 12121371.6813 - accuracy: 0.5241 - val_loss: 11768578.8305 - val_accuracy: 0.5932
Epoch 4/20
706/706 [==============================] - 127s 179ms/step - loss: 10826760.7295 - accuracy: 0.6487 - val_loss: 10782480.4322 - val_accuracy: 0.6949
Epoch 5/20
706/706 [==============================] - 126s 179ms/step - loss: 10299392.4235 - accuracy: 0.7153 - val_loss: 10463174.9788 - val_accuracy: 0.7034
Epoch 6/20
706/706 [==============================] - 124s 175ms/step - loss: 10070239.8839 - accuracy: 0.7054 - val_loss: 10230729.7415 - val_accuracy: 0.7034
Epoch 7/20
706/706 [==============================] - 124s 176ms/step - loss: 9708342.1686 - accuracy: 0.7139 - val_loss: 9839445.1017 - val_accuracy: 0.7076
Epoch 8/20
706/706 [==============================] - 124s 176ms/step - loss: 9480379.6749 - accuracy: 0.7295 - val_loss: 9784463.9280 - val_accuracy: 0.7288
Epoch 9/20
706/706 [==============================] - 124s 176ms/step - loss: 9475035.5751 - accuracy: 0.7195 - val_loss: 9877114.3856 - val_accuracy: 0.7415
Epoch 10/20
706/706 [==============================] - 125s 177ms/step - loss: 9423623.8470 - accuracy: 0.7365 - val_loss: 9664596.1610 - val_accuracy: 0.7373
Epoch 11/20
706/706 [==============================] - 124s 176ms/step - loss: 9302002.6827 - accuracy: 0.7479 - val_loss: 9541383.0466 - val_accuracy: 0.7458
Epoch 12/20
706/706 [==============================] - 124s 176ms/step - loss: 9228641.5283 - accuracy: 0.7422 - val_loss: 9505164.2712 - val_accuracy: 0.7542
Epoch 13/20
706/706 [==============================] - 124s 176ms/step - loss: 9148886.6232 - accuracy: 0.7436 - val_loss: 9530882.8814 - val_accuracy: 0.7542
Epoch 14/20
706/706 [==============================] - 124s 176ms/step - loss: 9174888.4873 - accuracy: 0.7507 - val_loss: 9456185.7500 - val_accuracy: 0.7500
Epoch 15/20
706/706 [==============================] - 124s 176ms/step - loss: 9013418.5368 - accuracy: 0.7436 - val_loss: 9312062.4534 - val_accuracy: 0.7458
Epoch 16/20
706/706 [==============================] - 126s 178ms/step - loss: 8948824.0857 - accuracy: 0.7465 - val_loss: 9255547.1780 - val_accuracy: 0.7458
Epoch 17/20
706/706 [==============================] - 126s 178ms/step - loss: 8997730.3952 - accuracy: 0.7507 - val_loss: 9121324.0169 - val_accuracy: 0.7458
Epoch 18/20
706/706 [==============================] - 125s 178ms/step - loss: 8864474.6742 - accuracy: 0.7507 - val_loss: 9332922.8559 - val_accuracy: 0.7415
Epoch 19/20
706/706 [==============================] - 124s 176ms/step - loss: 8807675.1006 - accuracy: 0.7550 - val_loss: 9376203.9703 - val_accuracy: 0.7415
Epoch 20/20
706/706 [==============================] - 125s 176ms/step - loss: 8757253.8237 - accuracy: 0.7564 - val_loss: 9050704.0636 - val_accuracy: 0.7373

The validation accuracy is somewhat acceptable, at around 76%

The next step is to predict and format the output, by turning it into a single column of data (the sales)

In [29]:
y_test = model.predict(X_test)
#y_test = outputScaler.inverse_transform(model.predict(X_test))
output = np.reshape(y_test, 48 * 1115)

As the last step of the assignment, the results are saved to the submission.csv file. Because the test data had extra rows inserted with an Id of zero, we ignore these rows while exporting the results.

In [31]:
outputRows = []
for index in range(len(output)):
    if testing_store["Id"].iloc[index] == 0:
        continue
    outputRows.append(output[index])
outputFile = open("submission.csv", "w")
outputFile.write('"Id","Sales"\n')
for row in range(len(outputRows)):
    outputFile.write(f"{row + 1},{outputRows[row]}\n")
outputFile.close()